.encuesta-content {

  --background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e3a8a
    );

}

.custom-toolbar {

  --background: transparent;

  --color: white;

}

.container {

  padding: 20px;

}

.welcome-section {

  text-align: center;

  margin-top: 30px;

  margin-bottom: 30px;

}

.main-icon {

  font-size: 90px;

  color: #60a5fa;

}

.welcome-section h1 {

  color: white;

  font-size: 30px;

  font-weight: bold;

  margin: 10px 0;

}

.welcome-section p {

  color: #dbeafe;

  margin: 0;

}

.form-card {

  border-radius: 22px;

  background:
    rgba(255,255,255,0.12);

  backdrop-filter: blur(10px);

  box-shadow:
    0 4px 20px rgba(0,0,0,0.3);

  margin-bottom: 20px;

}

.custom-item {

  margin-bottom: 18px;

  --background:
    rgba(255,255,255,0.08);

  border-radius: 14px;

  --padding-start: 12px;

  border:
    1px solid rgba(255,255,255,0.1);

}

.custom-item ion-icon {

  color: #60a5fa;

  font-size: 22px;

}

.custom-item ion-input,
.custom-item ion-select,
.custom-item ion-textarea {

  --color: white;

  color: white;

}

.custom-item ion-label {

  color: #dbeafe !important;

}

.guardar-btn {

  margin-top: 20px;

  --background: #3b82f6;

  --border-radius: 15px;

  height: 50px;

  font-size: 16px;

  font-weight: bold;

}

ion-card-content {

  padding: 18px;

}