<ion-content [fullscreen]="true" class="login-content">

  <div class="login-container">

    <ion-card class="login-card">

      <ion-card-content>

        <div class="logo-container">
          <ion-icon name="game-controller"></ion-icon>
          <h1>Bienvenido</h1>
          <p>Inicia sesión en tu cuenta</p>
        </div>

        <ion-item class="custom-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>

          <ion-input
            type="email"
            placeholder="Correo electrónico"
            [(ngModel)]="email">
          </ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>

          <ion-input
            type="password"
            placeholder="Contraseña"
            [(ngModel)]="password">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          class="login-btn"
          (click)="login()">
          Iniciar sesión
        </ion-button>

        <ion-button
          expand="block"
          fill="outline"
          class="register-btn"
          (click)="register()">
          Registrarse
        </ion-button>

        <ion-text color="danger" *ngIf="mensaje">
          <p class="mensaje">{{ mensaje }}</p>
        </ion-text>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>